/*csslint ids: false, box-model: false*/


/*general*/

body {
    background-image: url(../img/gifsun.gif);
    background-size: cover;
    font-family: 'Trade Winds', cursive;
}

a {
    text-decoration: none;
}

#wrapper {
    /*    margin o is ffor all sides*/
    margin: 0 auto;
    /*max width is related to width, max-width that it can be smaller for mobile devices/tablets.*/
    max-width: 840px;
    /*  values first one is top and bottom. Second is left and right  */
    padding: 0 5%;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}


/*header*/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    margin: 0;
    /*our name and description of who we are*/
    text-align: center;
}

h1 {
    font-family: 'Trade Winds', cursive;
    font-size: 1.75em;
    margin: 15px 0;
}

h2 {
    font-size: 1.75em;
    font-weight: normal;
    /*1st value is for top. 2nd is for left and right. 3rd is for the bottom*/
    margin: -5px 0 0;
}

nav a .select,

/*navigation*/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/*footer*/

footer {
    clear: both;
    color: yellow;
    font-size: 1.0em;
    padding-top: 50px;
    text-align: center;
}

.instagram {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/*Page portfolio*/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-image: url(../img/fire.gif);
    color: pink;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: white;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}


/*about me page*/

.profile-photo {
    border-radius: 25%;
    display: block;
    max-width: 100px;
}


/*Contact page*/

.contact-info a {
    /*by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info .mail a {
    background-image: url('../img/mail.png');
}

.contact-info .twitter a {
    background-image: url('../img/twitter.png');
}


/*colors*/

body {
    background-color: green;
    color: yellow;
}

a {
    color: white;
}

header {
    background-image: url(../img/fire2.gif);
    background-size: cover;
}

nav {
    background-color: darkslateblue;
}


/*pseudo-class*/

nav .selected,
nav a:hover {
    color: maroon;
}


/*media query*/


/*two collumn layout*/

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /*three column layout for portfolio*/
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /*about page*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*nav*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}